
<div class="sidenav">
    <a href="/home/{{pages.[0]}}/{{username}}">Account Settings</a>
    <a href="/home/{{pages.[1]}}/{{username}}">Withdraw/Deposit</a>
    <a href="/home/{{pages.[2]}}/{{username}}">Account Update</a>
    <a href="/home/{{pages.[3]}}/{{username}}">Currency Converter</a>
    <a href="/home/{{pages.[4]}}/{{username}}">E-Transfer</a>
    <a href="/home/{{pages.[4]}}/{{pages.[5]}}/{{username}}">Check for E-Transfers</a>
    <a href="/logout">Logout</a>
</div>
