
<div class="sidenav">
    <a href="{{pages.[0]}}/{{username}}">Account Settings</a>
    <a href="{{pages.[1]}}/{{username}}">Withdraw/Deposit</a>
    <a href="{{pages.[2]}}/{{username}}">Account Update</a>
    <a href="{{pages.[3]}}/{{username}}">Currency Converter</a>
    <a href="{{pages.[4]}}/{{username}}">E-Transfer</a>
    <a href="{{pages.[4]}}/{{pages.[5]}}/{{username}}">Check for E-Transfers</a>
</div>
