
<div class="sidenav">
    <a href="{{pages.[0]}}/{{username}}">Account Settings</a>
    <a href="{{pages.[1]}}/{{username}}">Convert Currency</a>
    <a href="{{pages.[2]}}/{{username}}">Account Update</a>
</div>