

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <div class="sidenav">
    <a href="{{pages.[0]}}/{{username}}">Account Settings</a>
    <a href="{{pages.[1]}}/{{username}}">Withdraw/Deposit</a>
    <a href="{{pages.[2]}}/{{username}}">Account Update</a>
    <a href="{{pages.[3]}}/{{username}}">Currency Converter</a>
    <a href="{{pages.[4]}}/{{username}}">E-Transfer</a>



    </div>

<style>

body {
            font-family: Tahoma, Geneva, sans-serif;;
        }

        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 70px;
            padding-right: 20px;
        }

        .sidenav a {
            padding: 6px 6px 6px 32px;
            text-decoration: none;
            font-size: 15px;
            color: #818181;
            display: block;
        }

        .sidenav a:hover {
            color: #f1f1f1;
            font-family: Tahoma, Geneva, sans-serif;
        }

        .main {
            margin-left: 200px;
            text-align: center;
            margin-top: 200px;
        }

        .background {
            background-color: purple;

        }


    </style>
</head>