

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <div class="sidenav">
        <ul>
            <li>
                <a href="{{pages.[0]}}/{{username}}">Account Settings</a>
            </li>
            <li>
                <a href="{{pages.[1]}}/{{username}}">Withdraw/Deposit</a>
            </li>
            <li>
                <a href="{{pages.[2]}}/{{username}}">Account Update</a>
            </li>
        </ul>
    </div>

<style>

        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 100px;
        }

        .sidenav a {
            padding: 6px 6px 6px 32px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
        }

        .sidenav a:hover {
            text-decoration: none;
            color: darkorange;
            background: rgba(250, 221, 102, 0.39);
        }
    </style>
</head>