<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Mangement</title>
    <a class="btn btn-primary btn-sm" href="/home/{{username}}" role="button">Back to Homepage</a>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>



<body style="background-color:yellow;color:green">

<div class="container " id = "content" style="border-style: solid;border-width: 2px;padding-top:20px">



    <div class="container"  >
        <h2> {{username}}</h2>
        <table class="table">

            <tbody>
            <tr>
                <td>Password</td>
                <td>********</td>

            </tr>
            <tr>
                <td>First Name</td>
                <td>{{first_name}}</td>

            </tr>
            <tr>
                <td>Last Name:</td>
                <td>{{last_name}}</td>

            </tr>
            <tr>
                <td>Checking Amount:</td>
                <td>{{checkings}}</td>

            </tr>
            <tr>
                <td>Saving Amount:</td>
                <td>{{savings}}</td>

            </tr>
            <tr>
                <td>Email:</td>
                <td>{{email}}</td>

            </tr>

            <tr>
                <td>Phone Number:</td>
                <td>{{phone_num}}</td>

            </tr>

            </tbody>
        </table>
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>