<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Mangement</title>
    <a class="btn btn-primary btn-sm" href="/home/{{username}}" role="button">Back to Homepage</a>

</head>



<body>

<div id = "content" style="position:absolute;
  top:10%;
  left:20%;
  margin-top:-70px;
  margin-left:-50px;
    font-family: Tahoma, Geneva,sans-serif;
font-size:13px;">

<p>Username: {{username}}</p>
    <p>First Name: {{first_name}}</p>
    <p>Last Name: {{last_name}}</p>
    <p>Checking Amount:{{checkings}}</p>
    <p>Saving Amount:{{savings}}</p>
    <p>Email: {{email}}</p>
    <p>Phone Number: {{phone_num}}</p>

</div>

</body>
</html>