<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Mangement</title>
    <p>{{username}}</p>
    <p>{{password}}</p>
    <p>{{first_name}}</p>
    <p>{{last_name}}</p>
    <p>{{checkings}}</p>
    <p>{{savings}}</p>
    <p>{{email}}</p>
    <p>{{phone_num}}</p>
</head>
<body>

</body>
</html>