<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .container{
            text-align:center;
            padding-top: 100px;
        }
        .container img, h1{
            border-radius: 15px;
            margin-bottom: 200px;
        }
        .jumbotron{
            border-radius:50px;
            background: linear-gradient(40deg,#ffd86f, #ffbf00)!important;
            border-style: solid;
            height: 450px;
        }
        .jumbotron h1, p{
            color: #4d4d4d;
        }
        body{
            background-color:gold;
        }
        label{
            text-align: left;
        }
        footer{
            font-size: 18px;
            text-align: right;
            width: 100%;
            position: fixed;
            bottom: 0;
            background: rgba(0, 0, 0, 0.2) !important;
            opacity: 0.9;
        }
        .ham{
            border: solid orange;
            border-radius: 3px;
        }
        .ham button{
            position: fixed;
            right: 1%;
            top: 1%;
            background: linear-gradient(40deg,#ffd86f, #ffbf00)!important;
        }
        .col-ms-4 button{
            background: gold;
        }
        .col-ms-4 input{
            height: 100%;
            background: wheat;
            border: 1px solid #dddddd;
            box-sizing:border-box;
            border-radius: 8px;
        }
        .col-ms-4{
            margin-right: 10px;
        }
        .navbar {
            text-transform: uppercase;
            font-weight: 700;
            font-size: .9rem;
            letter-spacing: .1rem;
            background: rgba(0, 0, 0, 0.2) !important;
        }
        .navbar-brand img{
            height: 3rem;
        }
        .navbar-nav li{
            padding-right: .7rem;
        }
        .navbar-dark .navbar-nav .navbar-link {
            color: gold;
            padding-top: .8rem;
        }
        .navbar-dark .navbar-nav .nav-link.active,
        .navbar-dark .navbar-nav .nav-link:hover {
            color: goldenrod;
        }
    </style>
    <div class="collapse sidenav-collapse" id="sidenav">
        {{> navbar}}
        {{> nav_format}}
    </div>


</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/home/{{username}}"><img src="https://cdn.discordapp.com/attachments/159886180207427584/573241269548220446/orange.PNG" alt=""> Citrus Bank Login</a>
        <div class="ham">
            <button class="btn btn-warning" type="button" data-toggle="collapse" data-target=".sidenav-collapse"
                    aria-controls="sidenav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars fa-2x"></i>
                <!--<i class="fa fa-times fa-2x collapse icon-collapse" id="icon"></i>-->
            </button>
        </div>
    </nav>
</header>

<div class="container">
    <h1 class="main_header">TRANSACTION FORM</h1>

    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron" id="jumbo">
                <div class="content">
                    <!--<form>-->
                    <!--<div class="dropdown">-->
                    <!--<button id="select" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--Select Account-->
                    <!--</button>-->
                    <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
                    <!--<a class="dropdown-item" href="#">Chequing Account</a>-->
                    <!--<a class="dropdown-item" href="#">Savings Account</a>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</form>-->

                    <!--
                    <select>
                        <option selected> Select a account </option>
                        <option> checkings </option>
                        <option> savings </option>
                    </select>
                    <br>


                    <form action="deposit/{{username}}" method="POST">
                        Deposits
                        <label>
                            <select name="account">
                                <option selected> Select a account </option>
                                <option> checkings </option>
                                <option> savings </option>
                            </select>


                            <input type="text" name="deposit" placeholder="Deposit Amount" >
                            <input type="submit">
                        </label>
                    </form>

                    <br>-->


                    <form class="form-group" action="deposit/{{username}}" method="POST">
                        <label>
                            Deposits
                            <div class="dropdown">
                                <div class="row">
                                    <div class="col-ms-4">
                                        <select class="form-control" name="account">
                                            <option> Chequing </option>
                                            <option> Savings </option>
                                        </select>
                                    </div>
                                    <div class="col-ms-4">
                                        <input type="text" name="deposit" placeholder="Deposit Amount" >
                                    </div>
                                    <div class="col-ms-4">
                                        <button class="btn btn-warning" type="submit">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </form>
                    <br>
                    <br>
                    <form class="form-group" action="withdraw/{{username}}" method="POST">
                        <label>
                            Withdraw
                            <div class="dropdown">
                                <div class="row">
                                    <div class="col-ms-4">
                                        <select class="form-control" name="account">
                                            <option> Chequing </option>
                                            <option> Savings </option>
                                        </select>
                                    </div>
                                    <div class="col-ms-4">
                                        <input type="text" name="withdraw" placeholder="Withdraw Amount" >
                                    </div>
                                    <div class="col-ms-4">
                                        <button class="btn btn-warning" type="submit">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <img id="orange" src="https://cdn.discordapp.com/attachments/159886180207427584/575428323740614661/holding-orange-slices.jpg">
        </div>
    </div>

</div>

<!-- <img id="orange" src="https://cdn.discordapp.com/attachments/159886180207427584/575428323740614661/holding-orange-slices.jpg">

<form action="withdraw/{{username}}" method="POST">
                        Withdraw
                        <label>
                            <select name="account">
                                <option selected> Select a account </option>
                                <option> checkings </option>
                                <option> savings </option>
                            </select>
                            <input type="text" name="withdraw" placeholder="Withdraw Amount" >
                            <input type="submit">
                        </label>
                    </form>-->

<footer>
    &#169;Citrus Bank 2019 - All Rights Reserved
</footer>
<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>